@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
/* -------------
    common styles
------------- */
body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}
h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
}
ul {
    padding: 0;
}
a {
    text-decoration: none;
}
.container {
    width: 1050px;
}
header, .banner-area, .players, .about,
.highlights, .counter {
    display: flex;
    justify-content: center;
}
/* -------------
    navbar styles
------------- */
header {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    width: 100%;
}
nav {
    width: 1160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
label {
    font-size: 24px;
    color: #ffffff;
    display: none;
}
#toggle {
    display: none;
}
.menu {
    display: flex;
}
.menu li {
    margin-right: 36px;
    list-style: none;
}
.menu li a {
    color: #ffffff;
    font-weight: 500;
    transition: all linear 0.3s;
}
.menu li:hover a {
    color: #E02C6D;
}
.login-button {
    color: #ffffff;
    font-weight: 500;
    padding: 10px 25px 10px 55px;
    display: inline-block;
    background: #E02C6D;
    position: relative;
    transition: all linear 0.3s;
}
.login-button:hover {
    background: #ffffff;
    color: #E02C6D;
}
.fa-sign-in-alt {
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 26px;
    transform: translateY(-50%);
}
/* -------------
    banner-area styles
------------- */
.banner-area {
    background: #2D25A0;
    padding: 135px 0 75px;
}
.banner-container, .highlight-container {
    width: 1140px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}
.banner-img img {
    width: 100%;
}
.banner-title {
    font-size: 64px;
    color: #ffffff;
    line-height: 80px;
    font-weight: 700;
    width: 485px;
    margin-bottom: 18px;
}
.watch-button {
    color: #ffffff;
    display: inline-block;
    font-weight: 500;
    padding: 10px 50px 10px 25px;
    background: #E02C6D;
    position: relative;
    transition: all linear 0.3s;
}
.watch-button:hover {
    background: #ffffff;
    color: #E02C6D;
}
.fa-arrow-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 25px;
}
/* ------------- 
    players styles
------------- */
.players {
    padding: 70px 0;
}
.players-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
.player {
    background: #ffffff;
    padding: 15px 15px 33px 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player-thubmnail img {
    width: 100%;
}
.player-name {
    font-size: 28px;
    font-weight: 700;
    color: #18191F;
    margin-top: 16px;
    margin-bottom: 10px;
}
.player-details {
    line-height: 26px;
    color: #6C6C6C;
}

/* -------------
    about styles
-------------  */
.about {
    background: url(../images/about-bg.png) no-repeat center;
    background-size: cover;
    position: relative;
    z-index: 1;
    padding: 110px 0 115px;
}
.about::before, .counter::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2D25A0;
    opacity: 0.8;
    z-index: -1;
}
.about-wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 50px;
}
.about-thumbnail {
    grid-column: 1/8;
}
.about-content {
    grid-column: 8/-1;
}
.about-thumbnail img {
    width: 100%;
}
.section-subtitle {
    font-size: 20px;
    color: #E02C6D;
    text-transform: uppercase;
    font-weight: 700;
}
.section-title {
    font-size: 48px;
    line-height: 60px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 15px;
}
.about-discreption {
    color: #ffffff;
    line-height: 28px;
}
.readmore-button {
    padding: 10px 25px;
    display: inline-block;
    font-weight: 500;
    color: #ffffff;
    text-transform: capitalize;
    background: #E02C6D;
    margin-top: 25px;
    transition: all linear 0.3s;
}
.readmore-button:hover {
    background: #ffffff;
    color: #E02C6D;
}
/* -------------
    highlights styles
------------- */
.highlights {
    padding: 120px 0 115px;
}
.highlight-title {
    font-size: 48px;
    line-height: 60px;
    color: #0A0826;
    font-weight: 700;
    width: 470px;
    margin-bottom: 10px;
}
.highlight-discreption {
    color: #6C6C6C;
    line-height: 28px;
    width: 420px;
    margin-bottom: 20px;
}
.highlight-thumbnail img {
    width: 100%;
}
/* -------------
    counter styles
------------- */
.counter {
    background: url(../images/counter-bg.png) no-repeat center;
    background-size: cover;
    padding: 100px 0;
    position: relative;
    z-index: 1;
}
.counter-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.counter-number {
    font-size: 60px;
    line-height: 1;
    color: #E02C6D;
    font-weight: 700;
}
.counter-text {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
    color: #ffffff;
}
.counter-list {
    text-align: center;
}
/* -------------
    footer styles
------------- */
footer {
    text-align: center;
    padding: 60px 0 65px;
}
.footer-logo {
    margin-bottom: 15px;
}
.footer-logo img {
    width: 450px;
}
.footer-social a {
    width: 32px;
    height: 32px;
    background: rgba(11, 13, 23, 0.10);
    display: inline-block;
    border-radius: 50%;
    line-height: 32px;
    color: #969BAB;
    font-size: 15px;
    margin: 0 6px;
}
.copyright {
    margin-top: 20px;
    color: #000000;
    font-size: 18px;
}

/* -------------
    Media Queries
------------- */

/* mobile devices */
@media only screen and (max-width:688px) {
    /* -------------
        common styles
    ------------- */
    .container {
        width: 100%;
        padding: 0 15px;
    }
    /* -------------
        navbar styles
    ------------- */
    header {
        top: 30px;
    }
    nav {
        width: 100%;
        padding: 0 15px;
    }
    label {
        display: block;
        cursor: pointer;
    }
    .menu {
        width: 200px;
        position: fixed;
        display: inline-block;
        top: 75px;
        left: -100%;
        background: #000000;
        height: 100vh;
        padding: 15px;
        transition: all linear 0.5s;
        z-index: 99;
    }
    .menu li {
        margin: 15px 0;
    }
    #toggle:checked + .menu {
        left: 0;
        display: inline-block;
    }
    /* -------------
        banner-area styles
    ------------- */
    .banner-area {
        padding: 110px 0 50px;
    }
    .banner-container, .highlight-container {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        padding: 0 15px;
    }
    .banner-content {
        margin-bottom: 50px;
    }
    .banner-title {
        font-size: 36px;
        line-height: 50px;
        width: 288px;
        margin-bottom: 25px;
    }
    /* ------------- 
        players styles
    ------------- */
    .players {
        padding: 45px 0;
    }
    .players-wrapper {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 24px;
    }
    /* ------------- 
        about styles
    ------------- */
    .about {
        padding: 60px 0 60px;
    }
    .about-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
    .about-thumbnail {
        grid-column: 1/-1;
        margin-bottom: 20px;
    }
    .about-content {
        grid-column: 1/-1;
    }
    .section-title {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 10px;
    }
    /* ------------- 
        highlights styles
    ------------- */
    .highlights {
        padding: 50px 0;
    }
    .highlight-content {
        margin-bottom: 30px;
    }
    .highlight-title {
        font-size: 30px;
        line-height: 40px;
        width: auto;
    }
    .highlight-discreption {
        width: auto;
    }
    /* ------------- 
        counter styles
    ------------- */
    .counter {
        padding: 50px 0 25px;
    }
    .counter-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
    .counter-list {
        margin-bottom: 25px;
    }
    .counter-number {
        font-size: 40px;
    }
    .counter-text {
        font-size: 16px;
    }
    /* ------------- 
        footer styles
    ------------- */
    footer {
        padding: 40px 0;
    }
    .footer-logo img {
        width: 254px;
    }
}
@media only screen and (min-width:689px) and (max-width:991px) {
    /* -------------
        common styles
    ------------- */
    .container {
        width: 100%;
        padding: 0 15px;
    }
    /* -------------
        navbar styles
    ------------- */
    header {
        top: 30px;
    }
    nav {
        width: 100%;
        padding: 0 15px;
    }
    label {
        display: block;
        cursor: pointer;
    }
    .menu {
        width: 200px;
        position: fixed;
        display: inline-block;
        top: 75px;
        left: -100%;
        background: #000000;
        height: 100vh;
        padding: 15px;
        transition: all linear 0.5s;
        z-index: 99;
    }
    .menu li {
        margin: 15px 0;
    }
    #toggle:checked + .menu {
        left: 0;
        display: inline-block;
    }
    /* -------------
        banner-area styles
    ------------- */
    .banner-area {
        padding: 110px 0 50px;
    }
    .banner-container {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        padding: 0 15px;
    }
    .banner-content {
        margin-bottom: 50px;
    }
    .banner-title {
        font-size: 36px;
        line-height: 50px;
        width: 288px;
        margin-bottom: 25px;
    }
    /* ------------- 
        players styles
    ------------- */
    
    .players-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
    /* ------------- 
        about styles
    ------------- */
    .about {
        padding: 60px 0 60px;
    }
    .about-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
    .about-thumbnail {
        grid-column: 1/-1;
        margin-bottom: 20px;
    }
    .about-content {
        grid-column: 1/-1;
    }
    .section-title {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 10px;
    }
    /* ------------- 
        highlights styles
    ------------- */
    .highlights {
        padding: 50px 0;
    }
    .highlight-container {
        width: 100%;
        padding: 0 15px;
        grid-template-columns: repeat(1, 1fr);

    }
    .highlight-content {
        margin-bottom: 30px;
    }
    .highlight-title {
        font-size: 30px;
        line-height: 40px;
        width: auto;
    }
    .highlight-discreption {
        width: auto;
    }
    /* ------------- 
        counter styles
    ------------- */
    .counter {
        padding: 60px 0 35px;
    }
    .counter-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
    .counter-list {
        margin-bottom: 25px;
    }
    .counter-number {
        font-size: 46px;
    }
    .counter-text {
        font-size: 18px;
    }
    /* ------------- 
        footer styles
    ------------- */
    footer {
        padding: 40px 0;
    }
    .footer-logo img {
        width: 254px;
    }
}